{% extends 'recipes/header.html' %}
{% block content %}

    <h3 style="text-align: center; color: whitesmoke;">New Recipe</h3>
    <hr>
    <br>

    <!--ingredient form-->
    <form action="{% url 'recipes:ingredient_handler' user_pk=user.pk action='add' %}" method="POST">
        <div class="center">
            <div style="border: 1px solid #ccc; border-radius:  15px; padding: 33px; background-color: #383e3e">
                <div class="cat-flex">
                    {% csrf_token %}
                    {{ingr_form}}
                </div>
                <div class="button-flex">
                    <input id="button" type="submit" value="Ingredient">
                    <button id="button" formaction="{% url 'recipes:ingredient_handler' user_pk=user.pk action='header' %}">Header</button>
                    <button id="button" formaction="{% url 'recipes:ingredient_handler' user_pk=user.pk action='del' %}">Delete</button>
                </div>        
                <div class="row-container">
                    <div class="ingredient-list">
                        <ul>
                            {% for i in ingr_list %}
                                {% if i.0 == '!' %}
                                    <br>
                                    <strong>{{i| slice:'1:'}}</strong>
                                {% else %}
                                    <li>{{i}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br><br>
    <hr>

    <!--main recipe form-->
    <form action="{% url 'recipes:create' user_pk=user.pk ingr_check='not_new' %}" method="POST">
        {% csrf_token %}
            <div class="seperate" style="padding: 25px; display: flex; flex-wrap: wrap;" >
                <div >
                    <div class="column-container" >
                        <div class="cat-flex">
                            {{rec_form.category.label}}
                            {{rec_form.category}}
                        </div>
                        <div class="cat-flex">
                            {{rec_form.title.label}}
                            {{rec_form.title}}
                        </div>
                        <div class="cat-flex" style="width: 75px">
                            {{rec_form.servings.label}}
                            {{rec_form.servings}}
                        </div>
                        <br><br>
                    </div>
                </div>
                <div style="width: 50%">
                    <div style="border: 1px solid #ccc; border-radius:  15px; background-color: #383e3e; width: 460px; margin-left: -30px; padding: 10px;">
                        <div class="row-container">
                            <div class="cat-flex" >
                                {{rec_form.new_category.label}}
                                {{rec_form.new_category.errors}}{{rec_form.new_category}}
                            </div>
                            <div class="cat-flex" >
                                {{rec_form.cat_image.label}}
                                {{rec_form.cat_image}}
                                <p style="color:#ccc"><small>(optional)</small></p>
                            </div>
                        </div>
                        <p style="margin-top: -25px">
                        <div class="cat-flex" style=" width: 375px;">
                            {{rec_form.cat_description.label}}
                            {{rec_form.cat_description}}
                            <p style="color:#ccc"><small>(optional)</small></p>
                        </div>
                        </p>
                    </div>
                </div>    
            </div>
            <br><br>            
            <div class="center">
                <div class="column-container">
                    {{rec_form.media}}
                    {{rec_form.body}}
                    <br><br>
                    <input id="button" type="submit" value="create">
                </div>    
            </div>
            <br>
    </form>

{% endblock %}