{% extends 'recipes/header.html' %}

{% block content %}
    <div>
        <h1 class="josefont">From The Internet</h1>
        <hr>
        <br>
        <h6 class="josefont" style="font-size: 1.75rem" >Paste the URL for the recipe you wish to save</h6>
        <h6 class="josefont" style="font-size: 1.75rem">and choose a category</h6>
    </div>
    <br><br>
    <form action="{% url 'recipes:get_recipe' %}" method="post">
        {% csrf_token %}
        <div class="center">
            <div class="column-container" style="border: 1px solid #ccc; border-radius: 10px; padding: 25px; background-color: #383e3e; width: 300px">
                <div class="column-container" style="align-items: center;">
                    <div class="cat-flex" >
                        {{ form.url.label }}
                        {{ form.url }}
                    </div>
                    <div class="cat-flex" >
                        {{ form.category.label }}
                        {{ form.category }}
                    </div>
                </div>
                <br><br>
                <div style="border: 1px solid #ccc; border-radius: 10px; padding: 15px; background-color: #2c3434">
                    <div class="cat-flex">
                        {{form.new_category.label}}
                        {{ form.new_category }}
                    </div>
                    <div class="cat-flex">
                        {{ form.cat_image.label }}
                        {{ form.cat_image }}
                        <p style="color:#ccc"><small>(optional)</small></p>
                    </div>
                    <div class="cat-flex">
                        {{ form.cat_description.label }}
                        {{ form.cat_description }}
                        <p style="color:#ccc"><small>(optional)</small></p>
                    </div>
                </div>
                <br><br>
                <div style="display: flex; justify-content: center;">
                    <input id="button" type="submit" value="go!">
                </div>               
            </div>            
        </div>
    </form>

{% endblock %}