{% extends 'recipes/header.html' %}
{% block content %}
    <div style="display: flex; justify-content: center;">
        {% if user.is_authenticated %}
            <div class="row" style="display: flex; justify-content: center;">
                {% if categories %}
                    {% for cat in categories %}        
                        <div class="card" style="width: 18rem; margin: 15px; background-color: #383e3e; border: 1px solid #a9aaaa; padding: 15px; color: whitesmoke">

                                <img class="card-img-top" src="{{ cat.image }}" alt="No Image" width='250' height='300'>

                            <div class="card-body">
                                <h5 class="card-title">{{ cat.name| title }}</h5>
                                <p class="card-text">{{cat.description}}</p>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Recipes
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for rec in recipes|dictsort:"title" %}
                                        {% if rec.category == cat %}
                                            <a class="dropdown-item" href="{% url 'recipes:view_recipe' rec_pk=rec.pk %}">{{rec}}</a>
                                        {% endif %}
                                    {% endfor %}
                                
                                </div>
                            </div>          
                        </div>       
                    {% endfor %}    
                {% else %}
                    <h3 style="text-align: center;">No Recipes</h3>
                    <br><br>
                    <h6 style="text-align: center;">Click on <a href="/create/'new'">"New"</a> to enter some recipes</h6>
                    <br>
                    <h6 style="text-align: center;">Or click on <a href="/get_recipe">"From The Internet"</a> to download recipes</h6>
                {% endif %}
        {% else %}
            <div style="text-align: center;">
                <h1>Welcome to Ali's Kitchen</h1>
                <h3>The App designed to make storing and accessing your favourite recipes easy</h3>
                <br>
                <br>
                <p>Log in <a href="/login"><strong>here</strong></a> to use the App</p>
                <br>
                <p>New visitor?</p>
                <p>Register for a new account <a href="/register"><strong>here</strong></a></p>
            </div>

        {% endif %}        
        </div>

    </div>

{% endblock %}

