{% extends 'recipes/header.html' %}
{% block content %}
    <div>   
        <h3 style="text-align: center;">{{ recipe.title.capitalize }}</h3>
        <hr>
            <div>
                <ul>
                    {% for i in ingr_list %}
                        {% if i.0 == '!' %}
                            <br>
                            <strong>{{i|slice:'1:'}}</strong>
                        {% else %} 
                            <li>{{i}}</li>   
                        {% endif %}                            
                    {% endfor %}
                </ul>
            </div>

            <hr>
            <br>
            <div class="center">
                <div class="recipe-text">
                    {{ recipe.body| safe }}
                </div>
            </div>
    </div>

    <br><br><br>
    <div class="center">
        <div class="edit-button">
            <a href="/edit_recipe/{{recipe.pk}}"><button id="button">Edit</button></a>
        </div>            
    </div> 

    <div class="footer-div"></div>   

{% endblock %}