<div class="center">
    <div style="border: 1px solid #a9aaaa; border-radius:  15px; padding: 25px; background-color: #383e3e">
        <div class="cat-flex">
        <!--csrf_token and ingredient form-->
            {% csrf_token %}
            {{rec_form.ingredient.label}} 
            {{rec_form.ingredient}}
        </div>
        <div class="button-flex">
        <!--form buttons-->
            <button id="button" formaction="/create/add,{{recipe.pk}}">Ingredient</button>
            <button id="button" formaction="/create/header,{{recipe.pk}}">Header</button>
            <button id="button" formaction="/create/del,{{recipe.pk}}">Delete</button>
        </div>        
        <div class="row-container">
            <div class="ingredient-list">
            <!--list ingredients-->
            <!--if '!' is appended to start, the ingredient is a heading and is printed in bold-->
            <!--the '!' gets sliced off the end-->
                {% if ingr_list %}
                    <ul>
                    {% for i in ingr_list %}
                        {% if i %}
                            {% if i.0 == '!' %}
                                <br>
                                <strong>{{i| slice:'1:'}}</strong>
                            {% else %}
                                <li>{{i}}</li>
                            {% endif %}
                        {% endif %}    
                    {% endfor %}
                    </ul>
                {% endif %}        

            </div>
        </div>
    </div>
</div>
<br><br> 
<div class="container" >
    <div class="row">
        <div class="col">
            <div class="column-container" >
                <div class="cat-flex">
                    {{rec_form.category.label}}
                    {{rec_form.category}}
                </div>
                <div class="cat-flex">                
                    {{rec_form.title.label}}
                    {{rec_form.title}}
                </div>
                <div class="cat-flex" style="width: 75px">               
                    {{rec_form.servings.label}}
                    {{rec_form.servings}}
                </div>
                <br><br>
            </div>
        </div>
        <div class="col">
            <div style="margin-left: -15px; border: 1px solid #a9aaaa; border-radius:  15px; background-color: #383e3e; width: 355px; padding: 5px;">
                <div class="row-container">
                    <div class="cat-flex" style="width: 165px" >
                        {{rec_form.new_category.label}}
                        {{rec_form.new_category.errors}}{{rec_form.new_category}}
                    </div>
                    <div class="cat-flex" style="width: 165px" >
                        {{rec_form.cat_image.label}}
                        {{rec_form.cat_image}}
                        <p style="color:#ccc"><small>(optional)</small></p>
                    </div>
                </div>

                <div class="cat-flex" style=" width: 340px;">
                    {{rec_form.cat_description.label}}
                    {{rec_form.cat_description}}
                    <p style="color:#ccc"><small>(optional)</small></p>
                </div>
                </p>
            </div>
        </div> 
    </div>
   
</div>
<br><br>            
<div class="center">
    <div class="column-container">
        {{rec_form.media}}
        {{rec_form.body| safe}}
        <br><br>
        <input id="button" type="submit" value="create">  
    </div>    
</div>
<br>