/* import fonts */
@font-face {
  font-family: 'JosefinSans';
  src: url('fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AlwaysForever';
  src: url('fonts/always\ forever.ttf') format('truetype');
}

@font-face {
  font-family: 'AmbitionandInk';
  src: url('fonts/Ambition\ &\ Ink\ Demo.ttf & Ink Demo.ttf') format('truetype');
}

/* need to set the background color for all field inputs because, for some reason
I am yet to figure out, the background is completely transparent on mobile devices */
input[type="text"], input[type="password"], input[type="select"], input[type="number"], textarea {
  background-color : white; 
}

/* custom css starts here */
a {
  text-decoration: none;
  color: rgb(104, 180, 222);
}

body {
  color: whitesmoke;
  background-color: #2C3333;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.ambitionfont{
  font-family: AmbitionandInk;
  text-align: center;
  font-size: 3rem;
}

.josefont{
  font-family: JosefinSans;
  text-align: center;
  font-size: 3rem;
}

.alwaysforever{
  font-family: AlwaysForever;
  text-align: center;
  font-size: 6rem;
}

.row-container {
    display: flex;
    flex-direction: row;        
  }

.column-container {
  display: flex;
  flex-direction: column;       
}

.seperate {
  display: flex;
  justify-content: space-between;
}

.button-flex {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.cat-flex {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 3px;
  padding: 7px;
}

.recipe-text{
  width: 800px;
  height: 100%;
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  padding-top: 35px;
  padding-bottom: 100px;
  border: 1px solid #1d2121;
  border-radius: 5px;
}

.edit-button {
  display: flex;
  justify-content: left;
  width: 800px;
}

.right {
  display: flex;
  justify-content: right;
}

.left {
  display: flex;
  justify-content: left;
}

.center {
  display: flex;
  justify-content: center;
}

.footer-div {
  height: 88px;
}

#button {
  width: 90px;
  border-radius: 8px;
  margin: 3px;
  background-color: rgb(185, 186, 187);
  border: none;
}

#button:hover {
  background-color: #7a56b9;
  color: whitesmoke;


}

