a {
  text-decoration: none;
  color: whitesmoke;
}

body {
  color: whitesmoke;
  background-color: #2C3333;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.row-container {
    display: flex;
    flex-direction: row;        
  }

.column-container {
  display: flex;
  flex-direction: column;       
}

.seperate {
  display: flex;
  justify-content: space-between;
  

}

.ingredient-list {
  background-color: rgb(243, 242, 242);
  color:#2C3333;
  width: 350px;
  min-height: 500px;

  padding: 10px;
  margin-bottom: 50px;
  border-radius: 3px;
  font-size: smaller;
}

.button-flex {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.cat-flex {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin: 3px;
  padding: 7px;
}

.recipe-text{
  width: 800px;
  height: 100%;
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  padding-top: 35px;
  padding-bottom: 100px;
  border: 1px solid #1d2121;
  border-radius: 5px;
}

.edit-button {
  display: flex;
  justify-content: left;
  width: 800px;
}

.right {
  display: flex;
  justify-content: right;
}

.left {
  display: flex;
  justify-content: left;
}

.center {
  display: flex;
  justify-content: center;
}

.footer-div {
  height: 200px;
}


#button {
  width: 110px;
  border-radius: 5px;
  margin: 3px;
  border: 1px solid whitesmoke;
}

#button:hover {
  background-color: rgb(173, 182, 196);


}

